footer{
    /*background: linear-gradient(transparent, white);*/
    background-color: rgb(0, 0, 0);
}

.index-footer-h3{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
}


.index-footer-logo{
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-footer-img{
    width: 2.5rem;
}