$colorgold:rgb(255, 217, 0);
$colorwhite:rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorPrecio: grey;

/*----
navbar
----*/
.navbar{
    background-color: $colorgold !important;
}
.navbar-brand{
    font-weight: 500;
}
/*-----------------
titulo de la pagina
-----------------*/
.index-header-h1{
    font-family: "Roboto", sans-serif;
    color: $colorwhite;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.index-header-span{
    color: $colorgold;
}
